body{background:#fff;font-family:Arial;margin:0;}

#center{
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-top:100px;
}

.circle{
  width: 360px;
  height: 360px;
  font-size: 120px;
  border-radius: 50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}
.red{background:#e33;}
.blue{background:#39f;}

.total{font-size:50px;text-align:center;margin-top:20px;}

.fault{margin-top:20px;font-size:24px;padding:10px 20px;border:none;color:white;}
.fault.red{background:#a00;}
.fault.blue{background:#06c;}

#timer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: bold;
    z-index: 9999;
    color: black;
    pointer-events: none;
}

.faltas {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.competidor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetBtn {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 22px;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.resetBtn:hover {
    background: #555;
}

.timeSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

#logoEscuela {
    width: 270px;
    height: auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

/* CONTENEDOR DE JUECES */
#judgesContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* CAJAS DE JUECES  */
.judgeBox {
    position: absolute;
    width: 90px;
    height: 90px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 8px #0003;
    background:#ddd;
}

/* ESQUINAS */
.top-left { top: 10px; left: 10px; }
.top-right { top: 10px; right: 10px; }
.bottom-left { bottom: 10px; left: 10px; }
.bottom-right { bottom: 10px; right: 10px; }

/* 3 JUECES */
.bottom-center {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
